{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1>ARTICLES </h1>

<form style="width: 340px" method="POST">
    {% csrf_token %}

    {{ articleFilter.form.as_p }}
    
    <input type="submit" class="button-dark" style="width: 340px" value="SEARCH" />

</form>

<br />


{% for article in articleFilter.qs %}

<div class="tour-entry">
    <h2><a href=" {% url 'article_detail' article.pk %} " >{{article.article_name}}</a></h2>
    <p>{{article.article_about}}</p>
    
</div>

{% endfor %}


<center>
    

    {% if 'contenttypes.add_contenttype' in perms %}

    <a href="{% url 'article_new' %}" class="button-dark">ADD NEW</a>

    {% endif %}    
    
    <a href="{% url 'home' %}">Home</a>
</center>

{% endif %} 

{% endblock content %}
    