{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

  <div class="tour-entry">

    <h1>{{ article.article_name }} </h1>
    <h4>Type: {{article.type_id }}
      <br><br>   
       Category: {{ article.category_id }}
       <br><br>
       {{article.article_about}}
       <br> <br>
       {% if article.year_of_born != null %}
       Born: {{article.year_of_born}}
       <br>
       {% endif %}
       {% if article.year_of_died != null %}
       Died: {{article.year_of_died}}
       <br>
       {% endif %}
       {% if article.nationality != null %}
       Nationality: {{article.nationality}}
       <br>
       {% endif %}
       {% if article.notable_work != null %}
       Notable work: {{article.notable_work}}
       <br>
       {% endif %}
       {% if article.known_for != null %}  
       Known for: {{article.known_for}}
       <br>
       {% endif %}
       {% if article.article_year != null %}  
       Year: {{article.article_year}}
       <br> 
       {% endif %}
       {% if article.medium != null %}  
       Medium: {{article.medium}}
       <br> 
       {% endif %}
       {% if article.location != null %}  
       Location: {{article.location}}
       <br> 
       {% endif %}
       {% if article.designed != null %}
       Designed: {{article.designed}}
       <br> 
       {% endif %}
       {% if article.developer != null %}
       Developer: {{article.developer}}
       {% endif %}

  </div>

  <center>
    {% if 'contenttypes.change_contenttype' in perms %}

    <a href="{% url 'article_edit' article.pk %}" class="button-dark">EDIT</a>

    {% endif %}

    {% if 'contenttypes.delete_contenttype' in perms %}

    <a href="{% url 'article_delete' article.pk %}" class="button-dark">DELETE</a><br><br>

    {% endif %}  
  
<a href="{% url 'home' %}">Home</a>
  </center>

{% endif %}

{% endblock content %}