{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title> ARTICLES HUB </title> 
</head>

<body>
    {% if user.is_authenticated %}
    <h5> Hi, {{user.first_name}} &nbsp <a href="{% url 'logout' %}" >LOG OUT</a></h5>
    
    {% else %}
    <h5>You're not logged in &nbsp <a href="{% url 'login' %}"  >LOGIN</a> &nbsp <a href="{% url 'register' %}">SIGNUP</a></h5>
    {% endif %}
     

    <header>
        <p1><img src="{% static 'images/articles_hub_logo2.jpg' %}" alt="logo-image" height="60" ></p1>
        <div>
            
            <a href="{% url 'home' %}" class="button-base">HOME</a>
            <a href="{% url 'article_list' %}" class="button-base">ARTICLES</a>
            <a href="{% url 'about' %}" class="button-base">ABOUT</a>           

        </div>
    </header>
{% if messages %}
    {%for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
{% endif %}
{% block content %} {% endblock content %}

</body>
</html>