{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title> ARTICLES HUB </title> 
</head>

<body>
    {% if user.is_authenticated %}

    <h5 style="margin-left: 1200px; text-align: left">
        Hi, {{user.first_name}} <br>
         Your access level: {{user.groups.first.name}} <br>
         <a href="{% url 'logout' %}">LOG OUT</a>
    </h5>

    {% endif %} 
    
{% block content %} {% endblock content %}

</body>
</html>