{% extends "base.html" %}
{% load static %}
{% block content %}

    <center><img src="{% static 'images/books.jpg' %}" alt="home-image" max-width="100%" height="320" ></center><br><br>
    <p>
    
    Welcome to Articles Hub. We exist to make access to quality educational articles easier for everyone.<br><br>

    Feel free to create an account and start searching for articles you need! You can also manage articles and help others if you have relevant level of access.<br><br>
    
        
    </p>
    <br>
    <a href= class="button-dark">START BROWSING ARTICLES</a>

    <p class="placeholder">
        <br><br>
        This is a project created by Alexey, Mei, Keita, Rosalind and Tracy from Whitecliffe NZ for
        educational purposes only.
    </p>
{% endblock content %}
