{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<center style="margin-top: 100px"> <img src="{% static 'images/articles_hub_logo2.jpg' %}" alt="logo-image" height="120" ><br><br><center>

<form style="margin-top: 20px" action="" method="post">
{% csrf_token %}
{{form.as_p}}

<button class= "submit-button" type="submit">LOG IN</button> 
</form>


<p class="text-center">Don't have an account? Create one <a href="{% url 'register' %}">here</a></p> </center>





{% endblock content %}